@tailwind base;
@tailwind components;
@tailwind utilities;
#custom-substack-embed form {
    @apply flex flex-row justify-between;
}

#custom-substack-embed form > input {
    @apply input input-bordered mr-2 w-full;
}

[data-theme="garden"] .post {
    @apply hover:bg-gray-100 !important;
}

[data-theme="black"] .post {
    @apply hover:bg-gray-800 !important;
}

[data-theme="garden"] #custom-substack-embed form > button {
    @apply btn btn-neutral rounded-md text-sm;
}

[data-theme="garden"] .read-article-link, [data-theme="garden"] .read-article-link svg > path {
    @apply text-cyan-500 !important;
}

[data-theme="black"] :not(.menu a) {
    @apply text-gray-300 !important;
}

[data-theme="black"] .read-article-link, [data-theme="black"] .read-article-link svg > path {
    @apply text-cyan-500 !important;
}

[data-theme="black"] #custom-substack-embed form > button {
    @apply btn bg-neutral rounded-md text-sm;
}

[data-theme="garden"] .action-button {
    @apply btn rounded-md text-sm;
}

[data-theme="black"] .action-button {
    @apply btn bg-neutral rounded-md text-sm;
}

[data-theme="garden"] .themed-icon {
    @apply text-gray-600 hover:text-cyan-500;
}

[data-theme="black"] .themed-icon {
    @apply text-gray-300 hover:text-cyan-500;
}

#custom-substack-embed .error {
    @apply text-error text-sm mt-2;
}

#custom-substack-embed .success {
    @apply text-success text-sm mt-2;
}

.timeline-divider {
    background: #E4E7EB;
    @apply rounded-t-lg rounded-b-lg
}

.timeline-box {
    border-color: #E4E7EB;
}

.coding .command {
    @apply text-xs md:text-sm !important;
}

.menu a {
    @apply hover:bg-transparent hover:text-cyan-500 focus:bg-transparent focus:text-cyan-500 !important;
}

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    white-space: pre;
    font-size: 30px;
    line-height: 1.2em;
    height: 1.2em;
    overflow: hidden;
}

.loader:before {
    content: "Loading...\A⌰oading...\A⌰⍜ading...\A⌰⍜⏃ding...\A⌰⍜⏃⎅ing...\A⌰⍜⏃⎅⟟ng...\A⌰⍜⏃⎅⟟⋏g...\A⌰⍜⏃⎅⟟⋏☌...\A⌰⍜⏃⎅⟟⋏☌⟒..\A⌰⍜⏃⎅⟟⋏☌⟒⏁.\A⌰⍜⏃⎅⟟⋏☌⟒⏁⋔";
    white-space: pre;
    display: inline-block;
    animation: l39 1s infinite steps(11) alternate;
}

@keyframes l39 {
    100% {
        transform: translateY(-100%)
    }
}